html{
    width: 100%

}

body{
  background-color:#FFF;
   margin: 0;
    text-align: center;
}
.m-l-50{
    margin-left: 20%;
}


.m-r-10{
    margin-left: 10px;
}

.m-t-20{
 margin-top: 20px;
}


.lineThrough{
  text-decoration: line-through;
  color: green;
}

.disableClick{
    pointer-events: none;
}

header{
  background-color: #2D9EE0!important;
  color: white;
   display: flex;
  flex: 1 1 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper{
  margin: 20px;
  position: relative;
  display: flex;
  flex: 1 1 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
}

#taskForm{
  padding: 10px;
  border-radius: 1px;
  height: 30px;
  flex: 1 1 100vh;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

#taskForm > div {
  margin-top: 10px;  
  display: flex; 
  margin: 5px;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
}

#taskForm > div:first-child {
  display: flex;
  flex-grow: 2;
  margin-right: 10px;
  flex-basis: 100%;
}

#taskForm > div input {
  padding: 10px;
  margin-right: 10px;
  display: flex;
  flex-basis: 80%;
}

#taskForm > div a {
 display: flex;
 padding: 10px;
 justify-content: flex-start;
 align-items: center;
}

div.borderOpac{
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);       
}

.button{
  padding: 5px;
  display: inline-block;
  color: white;
  background-color: green;
  cursor: pointer;
  background-color: rgb(29, 123, 123);
  border-radius: 5px;
}

#todoPanel{
  display: flex;
  justify-content: flex-start;
  height: 100%;
  flex-grow: 1;
  padding: 5px;
  margin: 5px;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}


.taskItem{
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 1px 15px;
    box-sizing: content-box;
    box-shadow: 0 0 5px 1px black;
    padding: 15px;
}


.p-15{
  padding: 10px;
}

.updateForm{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  box-sizing: content-box;
  box-shadow: 0 0 5px 1px black;
  align-items: center;
  padding: 1px 15px;
  flex-grow: 1;
  transition-delay: 2s;
}


.updateForm > p{
   margin: 5px;
   display: flex;
}

.updateForm > p:first-child{
  flex-grow: 2;
}


.updateForm > p input{
  height: 30px;
  flex-basis: 100%;
}

.updateForm > p a{
  padding: 10px;
  margin: 5px
}

.actionList{
  display: flex;
  position: relative;
  flex-direction: column;
  color: black;
  padding: 12px 16px;
}

.hide{
  display: none;
}

.displayFlex{
  display: flex;
}

.options {
  border: 1px solid green;
  border-radius: 5px;
  text-align: center;
  display: flex;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options > a {
  padding: 5px;

  margin: 5px;

}

.options > a:hover {
   background-color: green;
   color: white;
   cursor: pointer;
   transition: all;
}

.options > a.deleteTask:hover {
   background-color: red;
}

.options > a.editTask:hover {
   background-color: #f68320;
}

.taskText {
  text-align: center;
  margin: 5px;
}

.completedTask{
  background-color: gray;
}

@media screen and (max-width: 480px) {
  .taskItem, .updateForm{
    background-color: #fff7e5;
    flex-direction: column;
    justify-content: space-around;
  }

  .button{
    background-color: rgb(29, 123, 123);
  }
   #taskForm,  #taskForm > div, #todoPanel {
      flex-direction: column;
   }

   .options{
      flex-direction: row;
      justify-content: space-around;
   }


}